@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@600&display=swap');

/* Tailwind base styles */
@tailwind base;

/* Tailwind component classes */
@tailwind components;

/* Tailwind utility classes */
@tailwind utilities;

/* Custom global styles */
body {
  @apply bg-gray-50 text-gray-900;
  font-family: 'Inter', sans-serif;
}

/* Scrollbar customization */
body::-webkit-scrollbar {
  width: 6px; /* width of scrollbar */
}

body::-webkit-scrollbar-thumb {
  background-color: #BF9B53; /* your desired color */
  border-radius: 0px;
}

body::-webkit-scrollbar-track {
  background-color: #f0f0f0; /* optional track color */
}

/* Example Tailwind classes */
.App-logo {
  @apply w-32 h-32;
}

.App-header {
  @apply flex flex-col items-center justify-center min-h-screen bg-gradient-to-b from-blue-200 to-blue-400;
}

.App-link {
  @apply text-blue-800 hover:text-blue-600 underline;
}


/* Selected option */
select option:checked {
  background-color: var(--system-primary);
  color: #fff;
}

/* TRY hover (works in some browsers, not all) */
select option:hover {
  background-color: var(--system-primary);
  color: #fff;
}

/* Firefox fix */
select option:checked {
  box-shadow: 0 0 0 100px var(--system-primary) inset;
}
/* Vehicle page scrollbar */
.vehicle-scroll::-webkit-scrollbar {
  width: 6px;
}

.vehicle-scroll::-webkit-scrollbar-thumb {
  background-color: #BF9B53;
  border-radius: 0px;
}

.vehicle-scroll::-webkit-scrollbar-track {
  background-color: #f0f0f0;
}
